{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ username }}!</h1>
<div class="row mt-4">
    <div class="col-md-4">
        <a href="{{ url_for('demographics') }}" class="btn btn-primary btn-lg btn-block mb-3">Demographics</a>
    </div>
    <div class="col-md-4">
        <a href="{{ url_for('polls') }}" class="btn btn-success btn-lg btn-block mb-3">Polls</a>
    </div>
    <div class="col-md-4">
        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-lg btn-block mb-3">Logout</a>
    </div>
</div>
{% endblock %}
