{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Forums</h1>
    <a href="{{ url_for('create_forum') }}" class="btn btn-primary mb-3">Create a New Forum</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Forum ID</th>
                <th>Forum Topic</th>
                <th>Publish Date</th>
                <th>Number of Comments</th>
                <th>Creator ID</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td><a href="{{ url_for('forum_details', forum_id=forum.id) }}">{{ forum.title }}</a></td>
                <td>{{ forum.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ forum.comment_count }}</td>
                <td>{{ forum.author.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
